<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.dao.AlgorithmMapper">
	<resultMap id="BaseResultMap" type="com.ss.pojo.Algorithm">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="express_str" property="algorithm"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,express_str
	</sql>
	<select id="getByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from test
		where id = #{id,jdbcType=INTEGER}
	</select>

</mapper>